<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join</title>
</head>
<body>
<h2>Join</h2>
<form action="/join" method="post">
    <!--/*@thymesVar id="message" type="java"*/-->
    <div th:if="${message}" th:text="${message}"></div>
    <br>
    <label for="userid">사용자 아이디:</label>
    <input type="text" id="userid" name="memberId" required>
    <br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="memberPwd" required>
    <br>
    <label for="username">사용자 이름 </label>
    <input type="text" id="username" name="memberName" required>
    <br>
    <button type="submit">회원가입</button>
</form>

<form action="/return login" method="post">
    <button onclick="location.href='join.html'">로그인 돌아가기</button >
</form>

</body>
</html>
