<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<!--/*@thymesVar id="message" type="java"*/-->
<form action="/login" method="post">
    <label for="username">사용자명:</label>
    <input type="text" id="username" name="memberId" required>
    <br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="memberPwd" required>
    <br>
    <div th:if="${message}" th:text="${message}"></div>
    <br>
    <button type="submit">로그인</button>
</form>


<form action="/join" method="get">
    <button onclick="location.href='join.html'">회원가입</button >
</form>

</body>
</html>
